.headeroptions{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 30px;
    color: grey;
    cursor: pointer;
}
.headeroptions:hover{
    color: black;
}
.headeroptions_title{
    font-size: 12px;
    font-weight: 400;
}